*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.parent{
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 20px;
    display: flex;
    align-items: center;
justify-content: space-between;
  

}
ul{
   display: flex;
}
li{
    list-style: none;
   margin-left: 30px;
    
}
.nav{
    flex-grow: 1;

}
.contact{
    height: 40px;
width:150px;

border-radius: 8px;
text-align: center;
background-color: #0000ffa0;
color: aliceblue;
font-size: 20px; 
}


section {
display: grid;
grid-template-columns: repeat(2,1fr);
}
.left{
padding-left: 100px;
padding-top: 200px;
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
}
.left>h1{

color: #800080e3;
}
span{
color: #0000ffa0;

}
.left>.paragraph{

text-align: justify;
margin-top: 20px;
font-size: 20px;
font-family: sans-serif;
}
button{
height: 40px;
width:150px;
margin-top: 30px;
border-radius: 8px;
text-align: center;
background-color: #0000ffa0;
color: aliceblue;
font-size: 15px;
}
.image{
height: 100%;
width:100%;
}
li{
font-family: sans-serif;
}